# Environnement virtuel
venv/
env/

# Fichiers spécifiques à Django
*.pyc
__pycache__/
db.sqlite3
*.pyc
.DS_Store
.vscode/

# Fichiers spécifiques à l'environnement de développement
.env
.idea/
.vscode/
*.pyc
